.favorites-container{
    margin-top: 6rem;
    display: grid;
    column-gap: 5rem;
    row-gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
}

.favorites-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-title-container{
    display: flex;
    justify-content: center;
}