.city-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1rem 2rem 4rem 2rem;
}

.city-info-container > h1 {
    font-size: 3rem;
}
.city-info-container > h2 {
    font-size: 2rem;
}
.city-info-container > p {
    font-size: 1.5rem;
}

.weather-container{
    height: 20rem;
    width: 20rem;
    display: grid;
    column-gap: 5rem;
    row-gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
}

.condition-container{
    border: 1px solid #CBB734;
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 20rem;
    width: 15rem;
    line-height: 1rem;
}


.sub-title{
    font-size: 2rem;
}

.condition-container > h2{
    font-size: 2.2rem;
}
.id-container{

    margin: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 95rem;
}   
.wind-icon{
    height: 7rem;
}

.temperature-icon{
    height: 7rem;
}
.precipitation{
    font-size: 1.2rem;
}

.feelslike{
    font-size: 1rem;
}

.wind-direction{
    font-size: 1rem;
}