.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #CBB734;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
}
.button{
    color:aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
}

.container > p{ 
    height: 3rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 8rem;
    display: inline-block   ;
}